.document-list fieldset {
    border-color: #4e55dc;
    margin-right: 1rem;
    margin-left: 0;































































































































































































































































    width: 500px;
    height: 80dvh;
    overflow: clip;
}

.document-list-item {
    width: 100%;
    max-width: 500px;
    white-space: nowrap;
}
