.vector-search-page {
    display: grid;
    grid-template-columns: max-content auto;
}

.search-controls {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.vector-search-input {
    padding: 1rem;
    flex-grow: 1;

    /* puts this in line with the document selection */
    margin-top: 11px;

    margin-right: 1rem;
}

.vector-search-num-results-input {
    padding: 1rem;
    margin-top: 11px;
}

.search-button {
    margin-left: 1rem;
    margin-top: 16px;
}

.search-results {
    margin-top: 1rem;
}
