.chat-page {
    display: grid;
    grid-template-columns: max-content auto;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.chat-window {
    width: 100%;
    height: 500px;
}

.conversation-exchange-area{
    display: flex;
    flex-direction: column;
}

.conversation-area {
    min-height: 500px;
    flex-grow: 0.8;
    overflow-y: scroll;

    border: 1px solid  #4e55dc;
    color: rgba(255, 255, 255, 0.87);
}

.exchange-value {
    background-color: #2b2a33;
    padding: 1rem;
    white-space: pre-wrap;
    margin-right: 1rem;
}

.exchange-user-label {
    font-weight: bold;
}

.post-area {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.post-input.prompt {
    width: 800px;
    height: 6em;
    margin-right: 1rem;

    flex-grow: 1;
}

.send-prompt-btn {
    align-self: center;
}

.system-prompt-input {
    width: 100%;
    margin-bottom: 1rem;
    padding-right: 0; /* if there is any padding this does not right align with other elements */
    padding-left: 0;
}

.thinking-wrapper, .exchange-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 1px solid #4146b7;

    margin-bottom: 0.5rem;
}

.thinking-result-content {
    margin-bottom: 1rem;
    padding: 1rem;
}

.thinking-see-more, .exchange-see-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;

    /* override button attributes */
    border: none;
    border-radius: 0;
}

.thinking-see-more-text, .exchange-see-more-text  {
    flex: 1;
    text-align: center;
}

.thinking-see-more-icon, .exchange-see-more-icon {
    margin-left: auto;
    padding-left: 1rem;
}

/*
.exchange-more {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid white;
    margin-left: auto;
    margin-right: 1rem;
} */
.exchange-more .search-results-item {
    margin: 1rem;
}

.conversation-exchange-area--conversation-instance-info {
    margin-top: 1rem;
}

.conversation-exchange-area--conversation-instance-info-id {
    font-style: italic;
    margin-right: 1rem;
}
